/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/

.masthead {
    background: #e74c3c;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  }
  
  .site-title {
    margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: black;
  }
  
  @media screen and (min-width: 44.44em) {
    .site-title {
      font-size: 2em;
    }
  }
  
  @media screen and (min-width: 50em) {
    .site-title {
      font-size: 2.5em;
    }
  }
  
  .site-title a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
  }
  
  .site-title a:hover {
    text-decoration: underline;
  }
  
  body {
    background: #ecf0f1;
    line-height: 1.4;
  }
  
  .site-title {
    color: white;
  }