.carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    margin-top: 8px;
  }
  
  .carousel > img {
    max-width: 45%;
    max-height: 400px;
  }
  
  .carousel-smaller {
    width: 50%;
  }
  
  .carousel-smaller > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
    border: 2px solid #333;
  }
  
  .carousel-smaller > img.active {
    border-color: #333;
    opacity: 0.6;
  }