.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.mandatoryScrollSnapping>div {
  scroll-snap-stop: always;
}

.x.mandatoryScrollSnapping {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides {
  display: flex;
  overflow-x: auto;
  flex: none;
  width: 100%;
  scrollbar-width: none;
  overflow-y: hidden;
  position: relative;
}

.x {
  width: 100%;
  flex-flow: row nowrap;
}

.slide {
  text-align: center;
  display: grid;
  scroll-snap-align: center;
  flex: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.bannerImg {
  border-radius: 4px;
  height: 316px;
}

.spacer {
  padding-left: 12px;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  bottom: 8px;
  width: 100%;
}

.dotsScrollableContainer {
  transition: transform 0.5s ease;
}

.dot {
  height: 4px;
  width: 4px;
  margin: 0 2px;
  background-color: #a9a9a9;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  transition: width 0.3s ease;
}

.activeDot {
  background-color: #3b3b3b;
}